
body, html {
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.all{
  background-color: #d2e1e9;
  padding: 0%;
}

a, a:hover {
  text-decoration: none;
}

.container-fluid{
  padding: 0;
}

/* header */
.header{
  background-color: #274555;
  height: 55px;
}

.menu {
    background: #274555;
    color:white;
    text-align: center;
    padding-top: 15px;
}

.menu a{
    color: white;
    margin: 10px; 
}

.menu a:hover{
  color: #1d333f
}
/*banner*/

.banner{
  width: 100%;
  max-width: 100%;
}

.ban{
  width: 100%;
  max-width: 100%;
}

.ban img{
  width: 100%;
  max-width: 100%;
  padding-bottom: 5%;
  background-color:#d2e1e9;
}

.inner-banner{
  position: absolute;
  bottom:-40%;
  left: 23%;
  width: 100%;
  text-align: center;
}

.inner-banner h1{
  color: white;
  text-shadow: 1px 1px 20px #274555;
  font-weight: bold;
}

/*article*/

.presentation{
  padding-bottom: 5%;
}

.qualiCompet{
  padding-bottom: 5%;
}

.formation{
  padding-bottom: 5%;
}

article{
  border-radius: 10px;
  background-color:#ffffff;
}

article h2{
  text-align: center;
  border-radius: 30px;
  background-color:#274555;
  color: white;
}

/*interview*/
video {
  display:block;
  width:50%;
  margin:auto;
  padding:auto;
  margin-top: 60px;
}

/*footer*/
  .footer {
    height: 100px;
    background-color: #274555;
  }

  .footerTXT {
    color: white;
    position: absolute;
    margin-left: 2%;

  }
    
  .footerIMG1 img {
    position: absolute;
    width: 5%;
    padding-top: 1%;
  }

  .footerIMG2 img {
    width: 5%;
    position: absolute;
    padding-top: 1%;
  }
    
  @media (max-width: 480px) {
    footer .text{
      font-size: 15px;
      text-align: right;
      margin-left: 0px;
    }           

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member .member-info {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: #2f4d5a;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  max-height: 95px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.team .member:hover .member-info {
  max-height: 300px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2f4d5a;
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b1cbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #52869d;
}

.team .member .social a:hover {
  color: #67b0d1;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

.section-member2{
  margin-top:30%;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}
