/* Nav bar */

body{
    margin: 0;
    pad: 0;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: #FAB1A0;
    color:black;
}

.navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-family:sans-serif ;
    font-weight: bold;
    
  }
  
  .navbar-links li:hover {
    background: #f0917c;
  }

  h1{
      text-align: center;
      padding:30px
  }

  video {
    display:block;
    width:100%;
    margin:auto;
    padding:auto;
  }